<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head lang="en">
    <title th:text="#{browse}">Browse</title>
</head>
<body layout:fragment="content">
<div class="container">
    <div class="row">
        <h2 class="orange-text center" th:text="#{availableCourses}">Available courses</h2>
        <div class="row">
            <form method="get" th:object="${searchForm}" th:action="@{/search}">
                <div class="input-field">
                    <input id="searchInput" type="search" th:placeholder="#{search}" th:field="${searchForm.search}">
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>

        <ul class="collection">
            <li class="collection-item avatar" th:each="course : ${courses}">
                <ul class="left">
                    <span class="title orange-text" ><b th:text="${course.getTitle()}"></b></span>
                    <p class="black-text lighten-1" th:text="${course.timeAndDayToString()}"></p>
                    <p class="grey-text lighten-1 left-align" th:text="${course.getLevel()}"></p>
                </ul>
                <ul class="right">
                    <form class="right" method="get" th:action="@{'/course/' + ${course.getCourseId()}}">
                        <button class="btn orange waves-effect" type="submit" style="margin-top: 10px">INFO</button>
                    </form>
                </ul>
                <ul class="right">
                    <form class="center" th:action="@{'/course/' + ${course.getCourseId()} + '/add'}">
                        <button class="btn orange waves-effect" type="submit" style="margin-top: 10px; margin-right: 10px" th:text="#{addCourse}"></button>
                    </form>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script src="/webjars/jquery/3.4.1/jquery.js"></script>
<script src="/webjars/materializecss/1.0.0/js/materialize.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
</body>
</html>