<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head lang="en">
    <title th:text="#{createCourse}">Create a course</title>
</head>
<body layout:fragment="content">
<div class="row">
    <h1 class="header center orange-text" th:text="#{createCourse}"></h1>
</div>
<div class="row">
    <!--/*@thymesVar id="course" type="com.eduspot.domain.Course"*/-->
    <form class="col s12" method="post" th:action="@{/course/new}" th:object="${course}">
        <div class="row">
            <div class="input-field col s6">
                <input id="title" type="text" required="required" th:field="${course.title}"
                       th:placeholder="#{courseTitle}" th:errorclass="invalid"/>
                <div th:errors="*{title}" class="red-text">Error</div>
            </div>
            <div class="input-field col s12 right" style="width: 50%">
                <select th:field="${course.level}">
                    <option value="" disabled selected th:text="#{chooseLevel}"></option>
                    <option value="Entry" th:text="#{entry}"></option>
                    <option value="Beginner" th:text="#{beginner}"></option>
                    <option value="Intermediate" th:text="#{intermediate}"></option>
                    <option value="Advanced" th:text="#{advanced}"></option>
                    <option value="Master" th:text="#{master}"></option>
                </select>
                <label th:text="#{level}"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6" style="width: 200%">
                <input id="description" type="text" th:field="${course.description}"
                        th:placeholder="#{description}" th:errorclass="invalid"/>
                <div th:errors="*{description}" class="red-text">Error</div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6" style="width: 33%">
                <input class="timepicker" id="startTime" type="text" required="required" th:field="${course.startTime}"
                       th:placeholder="#{startTime}" th:errorclass="invalid"/>
                <div th:errors="*{startTime}" class="red-text">Error</div>
            </div>
            <div class="input-field col s6" style="width: 33%">
                <input class="datepicker" id="startDate" type="text" required="required" th:field="${course.startDate}"
                       th:placeholder="#{startDate}" th:errorclass="invalid"/>
                <div th:errors="*{startDate}" class="red-text">Error</div>
            </div>
            <div class="input-field col s6" style="width: 33%">
                <input id="weeks" type="text" required="required" th:field="${course.weeks}"
                       th:placeholder="#{weeks}" th:errorclass="invalid"/>
                <div th:errors="*{weeks}" class="red-text">Error</div>
            </div>
        </div>

<!--        <input type="hidden" th:field="${course.teacher}" th:value="${loggedUser}">  -->
        <div class="row s12 center">
            <button class="btn indigo waves-effect waves-light" type="submit" name="save" th:text="#{submit}">Wyślij
                <i class="material-icons">send</i>
            </button>
        </div>
    </form>
</div>

<script src="/webjars/jquery/3.4.1/jquery.js"></script>
<script src="/webjars/materializecss/1.0.0/js/materialize.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.timepicker').timepicker({
            showClearBtn: true,
            twelveHour: false
        });
    });
</script>
</body>
</html>